.navbar-brand img
{
    height: 8vh;
    width: 10vw;
}
.nav-item{
    justify-content: space-evenly;
    flex-direction: row;
    padding:2em;
}
.nav{
    margin: 0%;
}
.header-sec{ 
    margin:0%;
    padding:0%;
}
.container-fluid{
    margin:0%;
}
.prodimage{

    height:90%;
    width:100%;
    /* margin-right:1%; */
    /* padding:1em; */
    
   
    /* margin-bottom: px; */
}
/* .prod-subsec h2{
    margin-top:1px;
} */
.paratext
{
    margin: 15%;
    font-size: large;
    font-weight: bold;
    color: darkcyan;
    text-justify:distribute-all-lines;
}